@model RecipeRobber.Models.RecipeModels.RecipeGet
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recipe Details</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.RecipeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecipeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredients)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Steps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Steps)
        </dd>
    </dl>
</div>
p>
@Html.ActionLink("Edit", "Edit", new { id = Model.RecipeId }) |
@Html.ActionLink("Back to List", "Index")
</p>