@model RecipeRobber.Models.CategoryModels.CategoryDetail

@{
    ViewBag.Title = "Details";
}

<style type="text/css">
    .br {
        display: block;
        margin-bottom: 15em;
    }
</style>
<span class="br"></span>
<h2>Details</h2>

<div>
    <h4>Category Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId }, htmlAttributes: new { @class = "mybtn" }) |
    @Html.ActionLink("Back to List", "Index", routeValues: null, htmlAttributes: new { @class = "mybtn" })
</p>
<style type="text/css">
    a.mybtn {
        background-color: blue;
        color: black;
        display: inline-block;
        padding: 4px 10px 4px 10px;
        text-emphasis-color: black;
    }
</style>