<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Recipe Robber</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        
        body {
            background-size:cover;
            background-image: url(https://img.freepik.com/free-vector/cartoon-illustration-bank-vault-metallic-iron-safe-door_1441-1915.jpg?size=626&ext=jpg);
        }
    </style>
    <style type="text/css">
        .br {
            display: block;
            margin-bottom: 30em;
        }
    </style>
    </head>

    <body>
       
    <style>
        .navbar {
            background-image: url(https://static.vecteezy.com/system/resources/previews/000/531/682/non_2x/thief-character-bandit-cartoon-robber-in-a-mask-vector.jpg)
        }
    </style>
       
    <nav class="navbar navbar-fixed-top navbar-inverse navbar-fixed-top">
        <h1 style="font-family:'Comic Sans MS' ;font-size:xx-large; color:black;text-align:center;">Recipe Robber</h1>
     
        <div class="input-group">
            <div class="form-outline">
                <input type="search" id="form1" class="form-control" />
                <label class="form-label" for="form1">Search</label>
            </div>
            <button type="button" class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav nav-pills">
                <li role="presentation" class="active" style="color:darkblue"><a href="https://localhost:44313/Home">Home</a></li>
                <li role="presentation" class="active" style="color:darkblue"><a href="https://localhost:44313/Home/About">About</a></li>
                <li role="presentation" class="active" style="color:darkblue"><a href="https://localhost:44313/Home/Contact">Contact</a></li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
        
    </nav>
   

   
   
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <span class="br"></span>
        <footer>
            <span class="br"></span>
            <p>&copy; @DateTime.Now.Year - Recipe Robber</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

   </body>

</html>
