@model IEnumerable<RecipeRobber.Models.StepModels.StepGet>

@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    .br {
        display: block;
        margin-bottom: 15em;
    }
</style>
<span class="br"></span>
<h2>Index</h2>

<div class="jumbotron jumbotron2">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @if (TempData.ContainsKey("SaveResult"))
    {
        <div class="alert alert-success fade in" role="alert">

            <button type="button" class="close" date-dismiss="alert">
                <span>&times;</span>
            </button>
            @TempData["SaveResult"]
        </div>
    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StepId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instruction)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StepId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instruction)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StepId }, htmlAttributes: new { @class = "mybtn" }) |
                @Html.ActionLink("Details", "Details", new { id = item.StepId }, htmlAttributes: new { @class = "mybtn" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StepId }, htmlAttributes: new { @class = "mybtn" })
            </td>
        </tr>
    }
</table>
<style type="text/css">
    a.mybtn {
        background-color: blue;
        color: black;
        display: inline-block;
        padding: 4px 10px 4px 10px;
        text-emphasis-color: black;
    }
</style>